.formControl.error input,
.formControl.error textarea
{
    border: 2px gold solid;
}
.formControl.error span
{
    color: gold;
}
.formSummaryError {
    border: 1px red solid;
    padding: 10px;
    color: red;
    width: 200px;
}